@import "variables";

.main-header {
  background-color: $primary-color;
  background-image: url("https://www.transparenttextures.com/patterns/blizzard.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.main-header h2 {
  margin: 10px;
}

.main-header img {
  height: 200px;
  width: 200px;
}
