nav {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 120px;
  background-color: #4056A1;
  color: white;
  padding: 40px 1.5em 0px;
  display: flex;
  justify-content: space-between;
} 
nav span {
  font-family: 'Bungee', sans-serif;
  font-size: 2em;
}

i {
  color: red;
}
.write {
  text-align: center;
}