/* hide and show new tweet form */
.new-tweet {
    width: 90%;
    align-self: center;
    height: 100%; 
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s linear;
}
.show {
    max-height: 500px;
    transition: max-height 0.8s ease-in;
}


button {
    background-color: #4056A1;
    border: 1px solid black;
    color: white;
    font-size: 0.9em;
    padding: 6px 6px 3px;
}
button:hover{
    border: 2px solid black;
}
button:active{
    background-color: #122259;
    border: 2px solid black;
}

.tweet-form {
    display: flex;
    flex-direction: column;
}
.submit-and-count {
    margin: 10px 0 30px;
    display: flex;
    justify-content: space-between;
    font-family: bungee;
}
#tweet-text {
    border: none;
    background: none;
    resize: none;
    border-bottom: 5px solid #545149
}

/* to change count when above 140 */
.red {
    color: red;
}

/* error box animation */
@keyframes error{
    from {width: 90%}
    to {width: 95%}
}
#submit-error {
    display: flex;
    justify-content: center;
}
.error {
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 100%;
    padding: 10px;
    margin:35px;
    border: 3px solid red;
    border-radius: 4px;
    color: black;
    animation-name: error;
    animation-duration: 0.5s;
}

